<div class="container">
  <div class="row centered">
    <div class="col-lg-12">
      <h1 style="font-size:50px"><b>Voice of the Customer</b> Hotlist</h1>
      <h3>A collection of top customer issues.<br />Brought to you by the Customer Success and Support team.</h3>
      <br>
    </div>
  </div>
</div> <!--/ .container -->