<div class="container text-center">
  <h1 style="font-size:50px">Tagologist</h1>
  <hr>
  <%= form_for :tag_map, url: '/inspect', method: "post" do |f| %>
    <div class="form-group">
      <h3><%= label :url, "Enter a URL to fetch and inspect" %></h3>
      <%= f.text_field :url, class: "form-control", placeholder: "Enter URL" %>
    </div>
    <br />
    <%= f.submit t('.update', :default => "Go"), class: "btn btn-primary btn-lg" %>
    <!--<button class="btn btn-success btn-lg">Go!</button>-->
  <% end %>
  <br>
</div> <!--/ .container -->